#wrapper{
    margin: 0px auto;
    background-color:rgb(160, 113, 142);
    width: 950px;
    font-family:verdana;
    padding: 25px;
}

.form-box{
    display: inline-block;
    background-color:pink;
    width: 500px;
    min-height: 500px;
    padding: 25px;
    vertical-align: top;
    margin: 10px;
}

    .form-box form{
        margin: 25px;
    }
    
    .form-box input{
        display: block;
        margin: 10px;
    }

    
#errors {
    text-align: center;
    color:mediumblue;
    padding: 20px;
    height: 100px;
}

#posts {
    background-color: rgb(243, 174, 228);
    padding: 25px;
    margin: 25px;
}

.one_post {
    background-color: rgb(211, 56, 141);
    padding: 25px;
    margin: 25px;
    min-height: 100px;
}

.post{
    font-size: 16pt;
    text-align: center;
}

.poster {
    font-size: 11pt;
    text-align: center;
}

#write{
    text-align: center;
}
